
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
        .whole-body{
         

        }

        p {
            color:orangered;
        }
            .whole-body .full-form {
                border: 2px solid gray;
                padding:4rem;
                border-radius:5px;
                background-color:gray;
            }
            .full-form .first-section{
                color:white;
            }

        .full-form .second-section {
            color: white;
        }

        .full-form .third-section {
            color: white;
        }
            
        .whole-body .heading{
           color:blue;
        }
    </style>
</head>
 
<body class="whole-body">
   
    <div class="text-center heading">
        <marquee><p>C.S DAV PUBLIC SCHOOL MOTIHARI (BIHAR)</p></marquee>
        <h2>
            Student Result Sheet
        </h2>
    </div>
    <div class="full-form">
        <div class="first-section">
            <p>Personal Details:</p>
            <div class="row">
                <div class="col">
                    <label for="inputName" class="form-label">Student Name:</label>
                    <input type="text" class="form-control" placeholder="" aria-label="First name" id="fname">
                </div>

                <div class="col">
                    <label for="inputclass" class="form-label">Roll Nunber:</label>
                    <input type="number" class="form-control" placeholder="" aria-label="First name" id="rollno">
                </div>

                <div class="col">
                    <label for="inputclass" class="form-label">Class:</label>
                    <input type="text" class="form-control" placeholder="" aria-label="Last name" id="class">
                </div>

            </div>
            <br />
            <div class="row">

                <div class="col">
                    <label for="inputclass" class="form-label">Date Of Berth:</label>
                    <input type="date" class="form-control" placeholder="" aria-label="Last name" id="dob">
                </div>
                <div class="col">
                    <label for="inputclass" class="form-label">Gender:</label>
                    <input type="text" class="form-control" placeholder="" aria-label="Last name" id="gen">
                </div>

                <div class="col">
                    <label for="inputclass" class="form-label">Father Name:</label>
                    <input type="text" class="form-control" placeholder="" aria-label="First name" id="fathname">
                </div>

            </div>

        </div>
        <hr />
        <br />
        <div class="second-section">
            <p>Marks Details: </p>
            <div class="row">
                <div class="col">
                    <label for="inputmath" class="form-label">Math:</label>
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Theory Marks" aria-label="First name" id="mathth">
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Practical marks" aria-label="First name" id="mathpr">
                </div>
                
            </div>
            <br />
            <div class="row">

                <div class="col">
                    <label for="inputphysics" class="form-label">Physics:</label>
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Theory Marks" aria-label="First name" id="physicsth">
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Practical marks" aria-label="Last name" id="physicspr">
                </div>
            </div>

            <br />
            <div class="row">

                <div class="col">
                    <label for="inputchemistry" class="form-label">Chemistry:</label>
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Theory Marks" aria-label="First name" id="chemistryth">
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Practical marks" aria-label="Last name" id="chemistrypr">
                </div>
            </div>

            <button class="btn btn-primary" onclick="show()">Calculate</button>

        </div>

        <hr />
        <button class="btn btn-primary" onclick="showdetails()">Show</button>
        <br />
        <br />
        <div class="third-section">
            <p>Result:</p>
            <br />
               <div>
                <h6>Total Marks : </h6>
                 <span>
                     300
                 </span>

               </div>
               <br />
               <div>

                <h6>Marks Obtained : </h6>
                <span id="obtmarks">

                </span>
                </div>
              <br />
            <div>
                    <h6>Percentage : </h6>
                 <span id="grade">

                 </span>
    
                
            </div>
          <br />
            <div>

                <h6>Grade : </h6>
                <span id="res">

                </span>
            </div>
            


        </div>
    </div>
    
    <script>
         

        function show(){
            var mth = parseFloat(document.getElementById("mathth").value);
            var mpr = parseFloat(document.getElementById("mathpr").value);
            var pth = parseFloat(document.getElementById("physicsth").value);
            var ppr = parseFloat(document.getElementById("physicspr").value);
            var cth = parseFloat(document.getElementById("chemistryth").value);
            var cpr = parseFloat(document.getElementById("chemistrypr").value);
           
            var sum = mth + mpr + pth + ppr + cth + cpr;
            var avg = sum / 3;
            

            document.getElementById("obtmarks").innerHTML = sum;
            document.getElementById("grade").innerHTML = avg +"%";

            if (avg >= 33 && avg <= 45) {
                document.getElementById("res").innerHTML = "C Grade";
            }
            else if (avg > 45 && avg <= 65) {
                document.getElementById("res").innerHTML = "B Grade";
            }
            else if (avg > 65 && avg <= 85) {
                document.getElementById("res").innerHTML = "A Grade";
            }
            else if (avg > 85 && avg <= 100) {
                document.getElementById("res").innerHTML = "A+ Grade";
            }
            else {
                    document.getElementById("res").innerHTML = "FAILD";
            }


            checkempty();
            checkrollno();
            checkmarks();

            return true;


        }
        function checkempty(){
            var a = document.getElementById("fname").value;
            var b = document.getElementById("rollno").value;
             var c = document.getElementById("dob").value;
            var d = document.getElementById("fathname").value;
             var e = document.getElementById("gen").value;
            var f = document.getElementById("class").value;

            var mth = parseFloat(document.getElementById("mathth").value);
            var mpr = parseFloat(document.getElementById("mathpr").value);
            var pth = parseFloat(document.getElementById("physicsth").value);
            var ppr = parseFloat(document.getElementById("physicspr").value);
            var cth = parseFloat(document.getElementById("chemistryth").value);
            var cpr = parseFloat(document.getElementById("chemistrypr").value);

            if (mth == "" || mpr == "" || pth == "" || ppr == "" || cth == "" || cpr == "" || a == "" || b== "" ||
                c == "" || d == "" || e == "" ){
                alert("Any field cant be empty every field is mandatory to fill");
                return false;
                }
                else{
                return true;
                }

        }

        function checkmarks(){
            var mth = parseFloat(document.getElementById("mathth").value);
            var mpr = parseFloat(document.getElementById("mathpr").value);
            var pth = parseFloat(document.getElementById("physicsth").value);
            var ppr = parseFloat(document.getElementById("physicspr").value);
            var cth = parseFloat(document.getElementById("chemistryth").value);
            var cpr = parseFloat(document.getElementById("chemistrypr").value);

             if (mth > 75 || pth > 75 || cth > 75){
             alert("Theory Marks should not be greater then 75");
               return false;
             }
             else if (mpr > 25 || ppr > 25 || cpr > 25)
             {
                alert("Practical Marks should not be greater then 25");
               return false;
             }
            else{
                 return true;
                }

        }

        function checkrollno(){
            var rollno = document.getElementById("rollno").value;
            var rollnoformat = /^\d{8}$/;

            if (!rollnoformat.test(rollno)) {
                alert("roll no is incorrect roll no should be 8 digits long");
                return false;
            }
            else{
                return true;
            }

        }

        function showdetails() {
           
            var a = document.getElementById("fname").value;
            var b = document.getElementById("rollno").value;
            var c = document.getElementById("dob").value;
            var d = document.getElementById("fathname").value;
            var e = document.getElementById("gen").value;
            var f = document.getElementById("class").value;

            alert("Student Name :" + a + "\n Roll no :" + b + "\n Date Of Berth :" + c + "\n Gender :" + e + "\n class :" + f + "\n Father Name :" + d);
            return true;
        }

     </script>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>